
body{

    border: 10px solid rgb(0, 204, 255);
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: chartreuse;
    font-size: 30px;



}